<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{$baseurl}" />
    <title>{APPNAME}</title>
    <link href="{$baseurl}/static/css/bootstrap.css" rel="stylesheet">
    <link href="{$baseurl}/static/css/main.css" rel="stylesheet">
    <link href="{$baseurl}/static/css/admin.css" rel="stylesheet">
    <link href="{$baseurl}/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{$baseurl}/static/select2/css/select2.min.css" rel="stylesheet" />
    <link href="{$baseurl}/static/chosen_v1.8.7/chosen.min.css" rel="stylesheet" />
    <script>
        var SITEURL = "{$baseurl}",
            MODURL = "{$baseurl}",
            uid = {$auid};
    </script>
    <script type="text/javascript" src="{$baseurl}/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/sea.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/sea-css.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/jquery.main.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/moxie.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/plupload.dev.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/i18n/zh_CN.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/qiniu.min.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/ui.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/jquery.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/js/zoom.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/chosen_v1.8.7/chosen.jquery.min.js"></script>
    



    <script type="text/javascript" src="{$baseurl}/static/ueditor1_4_3-utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" src="{$baseurl}/static/ueditor1_4_3-utf8-php/ueditor.all.js"></script>

    <style>

        .img_view img{
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #666;
            border-radius: 5px;
        }
        .upload_progress{
            color:#999
        }
    </style>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- 封装 -->
    <div id="wrapper">