<!-- 导航 顶部及左侧 -->
    <nav class="navbar " >
        <!-- LOGO及小屏导航 -->
        <div class="navbar-header">
            <div class="navbar-logo"><img src="static/images/logo2.png" width="30" height="30" alt=""></div>
            <div class="navbar-name">{APP_NAME}</div>
        </div>
        <!-- 顶部菜单 -->
        <ul class="navbar-top-links dropdown navbar-right">
            <!-- 用户菜单 -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{$username} <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/my/password">修改密码</a></li>
                <li><a href="/my/logout">注销登陆</a></li>
            </ul>
        </ul>

        <div class="navbar-right navbar-overview">
            <a href="/home/index">首页</a>

            <!--{loop $menus $menuKey $menuOne}-->
            <div class="dropdown top_submenu {if strcasecmp($menuKey, $menuCur) == 0}cur{/if}">
                <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="true">
                    {$menuOne[name]} <i class="fa fa-angle-down"></i></a>
    
                <ul class="dropdown-menu">
                    <!--{loop $menuOne['subMenus'] $oneKey $onetxt}-->
                    <li><a href="/$menuKey/$oneKey">$onetxt</a></li>
                    <!--{/loop}-->
                </ul>
            </div>
            <!--{/loop}-->
        </div>
    </nav>