<!--{subtemplate cms/common/header}-->
<!-- Button trigger modal -->

<!--{subtemplate common/navbar}-->
<div id="page-wrapper" class="">

    <div class="sidebar">
        <a class="btn-fold-menu " href="javascript:;" title="收起" data-event="toggle_sidebar">收起</a>
        <div class="sidebar-nav ">
            <h2>首页</h2>
            <hr class="line-mod">

            <ul class=" side-menu">

            </ul>
        </div>
    </div>
    <div class="main">
       
    </div>
</div>

<!--{subtemplate cms/common/footer}-->